.confirmation-modal .modal-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 45px;
  /* identical to box height, or 150% */

  /* Color/Dark/Dark */

  color: #23262f;
}
