.modal-90w {
    width: 90%;
    max-width: none !important;
}

.OnBoardingProDta .modal-header {
    border-bottom: none;
}

.second-pop_img_upload_div {
    border-bottom: 2px solid var(--divider);
    padding-bottom: 2.2%;
}

.AddDsaSecondStep-proList ul {
    list-style-type: none;
    padding: 0px;
    margin-bottom: 0px;
    position: relative;
}

.AddDsaSecondStep-proList ul::before {
    left: 0px;
    width: 31px;
    content: "";
    top: -7px;
    height: 115%;
    position: absolute;
    background: rgba(217, 217, 217, 0.44);
    border-radius: 30px;
}

.AddDsaSecondStep-proList ul li {
    display: flex;
    position: relative;
    margin-bottom: 40px;
    color: var(--cold-black-color);
    font-size: 16px;
    font-weight: 500;
    align-items: center;
}

.AddDsaSecondStep-circle_done {
    background: #4ADE80 !important;
    font-size: 18px !important;
    color: var(--color-white) !important;
}
.AddDsaSecondStep-circle_active {
    background: var(--primary-color) !important;
    color: var(--color-white) !important;
}

.AddDsaSecondStep-circle {
    width: 24px;
    display: inline-block;
    height: 24px;
    text-align: center;
    margin-left: 3px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MrLft {
    margin-left: 15px;
}

.UplodPhoto {
    position: relative;
    /* width: 160px; */
    border: 1px dashed var(--silver-surfer);
    background-color: #edf2f6;
    text-align: center;
    padding: 25px 30px;
    cursor: pointer;
    margin-top: 0px;
    border-radius: 15px;
    display: inline-block;
}

.UplodPhoto .UpldImages {
    margin-top: 10px;
    display: block;
}

.UplodPhoto label input {
    display: none;
}

.DcumtFile .upldName {
    font-size: 18px;
    color: #4c535f;
    font-weight: 500;
    display: block;
}

.RsetDta {
    position: relative;
    margin-top: 20px;
}

.RsetDta button {
    background-color: #fff;
    border: 1px solid #278fd9;
    color: #278fd9;
    font-size: 14px;
    padding: 7px 40px;
    border-radius: 4px;
}

.RsetDta button:first-child {
    background-color: #fff;
    border: 1px solid #278fd9;
    margin-right: 10px;
}

.RsetDta button:last-child {
    background-color: #278fd9;
    color: #fff;
}

.BcImgDta {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.BcImgDtaShow {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.BcImgDtaShow .ImgDtaProflm {
    width: 130px;
    height: 134px;
}

.BcImgDtaShow .ImgDtaProflm img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.AddDsaSecondStep_input,
.AddDsaSecondStep_input:active,
.AddDsaSecondStep_input:focus {
    width: 100%;
    padding: 10px 12px;
    border-radius: 6px;
    background: linear-gradient(0deg, #EDF2F7, #EDF2F7), #FFFFFF;
    border: 1px solid var(--divider);
    font-size: 14px;
    outline: none;
}