.file-upload-title {
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 14px;
  color: #4c535f;
}
.file-upload {
  position: relative;
}

.file-upload ul li,
.file-upload input[type='file'] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 8px;
  color: #0f0f0f;
  background-color: #edf2f6 !important;
  width: 140px;
  height: 142px;
  border-radius: 22px;
  border: 1px dashed #4c535f;
  border-radius: 19px;
}
.file-upload .drag-drop-text {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 8px;
  color: #0f0f0f;
  background-color: #edf2f6 !important;
  width: 140px;
  height: 142px;
  border-radius: 22px;
  border: 1px dashed #4c535f;
  border-radius: 19px;
}

.file-upload input {
  visibility: hidden;
  z-index: -5;
}

.file-upload .drag-drop-text img {
  height: 40px;
  margin-bottom: 10px;
}

.file-upload .drag-drop-text span {
  font-size: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-gap: 20px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .file-upload .drag-drop-text span {
    font-size: 14px;
  }
}
